@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0A0A0A;
  --primary: #0046BE;
  --primary-dark: #003DA5;
  --primary-light: #EBF3FF;
  --accent: #FFC200;
  --accent-light: #FFF8E6;
  --black: #0A0A0A;
  --gray-light: #F4F7FF;
  --gray-border: #E2E8F0;
  --gray-text: #64748B;
}

::selection {
  background: #FFC200;
  color: #0A0A0A;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-google-sans);
}